body {
  color: black;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}
/* Css Navbar */
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
}

.header {
  color: #f1f1f1;
  text-decoration: none;
}

.header li {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 0px 200px;
}

.header li a {
  position: relative;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  overflow: hidden;
  transition: all 0.3s;
}

.header li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
  transition: all 0.3s;
}

.header li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
  transition: all 0.3s;
}

.header li a:hover {
  font-weight: bold;
}

.header li a:hover::before {
  left: 0;
  background-color: black;
}

.header li a:hover:after {
  right: 0;
  background-color: black;
}

/* Css Display */
.container {
  display: flex;
  height: 60vh;
  width: 100%;
}
.display {
  display: flex;
  position: relative;
  top: 50px;
  width: 100%;
  height: 55vh;
  background-image: url("./assets/jobs-cover\(newer\).jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.display:before {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  position: absolute;
  content: "A Litte History of Jobs Work";
  color: white;
  font-size: 64px;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card {
    margin: 200px 30px;
    color: white;
    position: relative;
    width: 250px;
    height: 150px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    color: black;
    font-size: 48px;
    margin: 15px;
}

p{
    padding: 0px 25px;
}